<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <td>SE HA ENCONTRADO LA SIGUIENTE SUCURSAL</td><br><br> 
     
    <table border="1">

  <tr>

    <td>ID</td>

    <td>NOMBRE SUCURSAL</td>

    <td>PAIS SUCURSAL</td>

  </tr>

  <tr>

    <td th:text="${sucursal.pk_SucursalId}"></td>

    <td th:text="${sucursal.sucursalName}"></td>

    <td th:text="${sucursal.sucursalCountry}"></td>

  </tr>

</table>
    
</body>
</html>